.icon :hover{
    transform: rotate(360deg);

}

input[type="submit"]:hover {
    background-color: #635850;
    color: #F7F7F4;
}

input[type="text"]:hover {
    background-color: transparent;
    border: 2px solid #635850;
}


.textarea_hover {
    background-color: transparent;
    border: 2px solid #635850;
}

.textarea_focus {
    background-color: transparent;
    border: 2px solid #635850;
}